/*
 * Basic Page Elements
 */

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #262626;
}

input {
	display: block;
	color: #555;
}
input:focus {
	outline: none;
}
input:valid, input:invalid, input:required, input:optional {}

/*
 * Classic Theme Basics & Overrides
 */

body.theme_classic {
	background: #f9f9f9;
}

body.theme_classic #header {
	display: none;
}

body.theme_classic #footer {
	position: absolute;
	right: 15%;
	bottom: 0;
	left: 0;
	height: 72px;
	background: url('../images/theme_blocks/post_footer_bg.png') repeat-x;
}

body.theme_classic #sidebar {
	background: url('../images/theme_blocks/sidebar_bg.png') repeat;
	z-index: 5;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15%;
	background: #4c4f53;
	font-size: 14px;
	padding: 0 5px;
	text-align: center;
	color: #8b8b8b;
	border-left: 1px solid #222;
	box-shadow: -3px 0px 5px 1px #444; -moz-box-shadow: -3px 0px 5px 1px #444; -webkit-box-shadow: -3px 0px 5px 1px #444;
}

/*
 * Sidebar Blocks
 */

#sidebar input {
	width: 85%;
	margin: 4px auto 10px auto;
}

#sidebar_header_padded {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 6px 0 0 0; /* TODO: Can't this be shortened to 6px 0; ? */
	height: 180px;
	background: url('../images/theme_blocks/sidebar_header.png') repeat-x;
}

#login_form {
	margin-top: 8px;
}

#sidebar_user_info {
	position: absolute;
	top: 180px;
	right: 0;
	left: 0;
	height: 75px;
	color: #fff;
	background: url('../images/theme_blocks/user_info_bg.png') repeat-x;
}

#sidebar_user_name {
	display: block;
	margin: 12px auto 4px auto;
	text-align: center;
	font-weight: bold;
}

#sidebar_user_status {
	position: absolute;
	top: 247px;
	right: 0;
	left: 0;
	height: 5px;
}

#guest_advice {
	color: #a9cbe0;
	font-size: 12px;
}

#shine_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../images/theme_blocks/status_shine.png') top center no-repeat;
}

.user_status_guest {
	background: #909090;
}

/* Account Activation */
#success_account_activated, #registration_complete {
	width: 49%;
	margin-left: 20%;
	padding: 10px;
	margin-top: 10px;
}

/*
 * Registration CSS
 */

#register_container {
	margin: 16px 0 0 26px;
	font-size: 15px;
	color: #4d4d4d;
	width: 53%;
}

form#register_form {
	/* Just here cause... */
}

#registration_errors {
	width: 87.6%;
	margin-top: 8px;
	padding: 10px;
}

#register_container input {
	width: 90%;
	display: block;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #a4a4a4;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

/*
 * Various Classes
 */

.universal_submit {
	background: #466b9b;
	padding: 8px;
	color: #fff;
	font-size: 13px;
	border: 1px solid #1c1d20;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

#register_form input[type=submit] {
	width: 25%;
}

.universal_submit:hover {
	background: #42649b;
}

.light_input {
	padding: 10px;
	font-size: 13px;
	color: #676767;
	border: 1px solid #a4a4a4;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.dark_input {
	padding: 8px;
	color: #fff;
	background: #3a3d41;
	font-size: 13px;
	border: 1px solid #1c1d20;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.subtext {
	color: #676767;
	font-weight: bold;
	font-size: 13px;
}

.section_header .subtext {
	display: inline-block;
	margin-top: -14px;
}

.form_field {
	margin-top: 10px;
	padding: 6px 0 20px 0;
}

/*.form_field:not(:last-child) {
	border-bottom: 1px solid #ccc;
}*/

.field_desc {
	display: block;
	font-size: 13px;
}

.left_column {
	width: 48%;
}

.right_column {
	width: 48%;
	text-align: right;
}

.error_box {
	color: #d8000c;
	background: #ffbaba;
	border: 1px solid #ff0000;
}

.error_box ul {
	margin-top: 3px;
}

.success_box {
	color: #4f8a10;
	background: #dff2bf;
	border: 1px solid #4f8a10;
}